body {
    height: 100vh;
    background: #cfd8e3;
    display:flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 320px;
    background-color: white;
    border-radius: 25px;
    text-align: center;
    padding: 30px 20px;
    box-shadow: 10px 10px 25px rgba(0,0,0,0.1),
    -10px -10px 25px rgba(255,255,255,0.7);
}

.image {
    width: 110px;
    height: 110px;
    margin: auto;
    border-radius: 50%;
    padding: 5px;
    background: white;
    
}

.image img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

h1 {
    margin-top: 15px;
    color: #1f2d3d;

}
p {
    font-size: 14px;
    color: #555;
    margin: 10px 0 20px;
}

h2 {
    text-align: left;
    margin-bottom: 10px;
    color: #1f2d3d;
}

.hobbies {
    list-style: none;
    text-align: left;
    margin-bottom: 25px;
}

.hobbies li {
    margin: 8px o;
    padding-left: 25px;
    position: relative;
}

button {
    background: rgb(30, 30, 235);
    color: aliceblue;
    border-radius: 20px;
    font-size: 16px;
    border: none;
    padding: 10px;
}



