body{
    background-color:white;
    padding: 2px;
}
div {
    width:200px;
    height:300px;
    padding:2px;
    border: 2px solid black;
    
}
h1 {
    color: white;
    align-content: center;
}
button{
    color:black;
}


